.bubble-bot {
    background: rgba(119, 119, 119, 0.3);
    padding: 8px 13px 9px 13px;
    display: block;
    max-width: 500px;
    border-radius: 10px;
}

.bubble-user {
    background: rgba(219, 219, 219, 0.3);
    padding: 8px 13px 9px 13px;
    display: block;
    max-width: 500px;
    border-radius: 10px;
}

/* */
.chatbot {
    display: grid;
}

.messages {
    background-color: #79C7C5;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
    grid-row: 1;
}

.message-box {
    position: absolute;
    padding: 1%;
    width: 100%;
    bottom: 0;
    background-color: aquamarine;

    grid-row: 2;
}

.send_button {
    margin-left: 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}